<a href="https://colab.research.google.com/github/Mounika2004/python-new/blob/Module-2/Copy_of_Module_2_Functions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Create a function which accepts two inputs from the user and compute ncr

In [ ]:
def nCr(a,b):
  return (fact(a)/(fact(b)
                 *fact(a-b)))
a=int(input(""))
b=int(input(""))
def fact(a):
    res=1
    for i in range (2,a+1):
      res=res*i
    return res
print(int(nCr(a,b)))

5
2
10

In [ ]:
##Program to print a specified list after removing the 0th, 4th and 5th elements.
##Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
##Expected Output : ['Green', 'White', 'Black']
colours=['Red','Green','White','Black','Pink','Yellow']
del colours[0]
del colours[3]
del colours[3]
print(colours)

['Green', 'White', 'Black']

In [ ]:
## Program to get the difference between the two lists.

In [ ]:

one_list=[5,4,7,7,2,1]
other_list=[7,2,8,9,5]
x=set(one_list)
y=set(other_list)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[1, 4]
[8, 9]

In [ ]:
## Program to find the second smallest number and second largest number in a list.

In [ ]:
list1=[5,6,1,8,567,97,54]
list2.sort()
print(my_list)
print("the second smallest number in the given list is:",list1[4])
print("the second largest number in the given list is:",list2[len(my_list)-2])

[1, 5, 6, 8, 54, 97, 567]
the second smallest number in the given list is: 54
the second largest number in the given list is: 97

In [ ]:
## Given list of tuples, remove all the tuples with length K.
## Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
## Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

In [ ]:
list1  =  [(5,3),(6,),(7,8),(2,),(6,5,7,3)]
list2=[]
k=2
for x in list1:
  if len (x) !=k:
    list2.append(x)
print("the filtered list without containing any element of tupple lengh '2' is:",list2)

the filtered list without containing any element of tupple lengh '2' is: [(6,), (2,), (6, 5, 7, 3)]

In [ ]:
## Given a list of numbers of list, write a Python program to create a list of tuples
## having first element as the number and second element as the square of the
## number.

In [ ]:
list1=[6,98,5,43,12]
list2=[]
for i in list1:
   y=(i,i**2)
   list2.append(y)
print("the required list is:",list2)

the required list is: [(6, 36), (98, 9604), (5, 25), (43, 1849), (12, 144)]

In [ ]:
##  Program to generate and print a dictionary that contains a number (between 1
 ## and n) in the form (x, x*x).
 ## Sample Input: (n=5) :
 ## expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
my_star=dict()
x=int(input("enter a number: "))
for i in range(1,x+1):
  my_star.update({i:i**2})
print("the obtained set is:",my_star)

enter a number: 66
the obtained set is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356}

In [ ]:
## program to remove a key from a dictionary

In [ ]:
phone={
    "brand" : "oneplus",
    "model" : "CE Nord",
    "year" :  "2021",
    "cost" :  "250000",
 }
phone.pop("year")
print(phone)
del phone["cost"]
print("phone")

{'brand': 'oneplus', 'model': 'CE Nord', 'cost': '250000'}
phone

In [ ]:
##  Program to get the maximum and minimum value in a dictionary.

In [ ]:
my_star={
    'm': 78,
    'n': 67,
    'a': 62,
    'p': 45,
}
max_value=max(my_star,  key=my_star.get)
min_value=min(my_star,  key=my_star.get)
print("The maximum value in the given star has a key:'"+max_value+"' and its value is:",my_star[max_value])
print("The minimum value in the given star has a key:'"+min_value+"' and its value is:",my_star[min_value])

The maximum value in the given star has a key:'m' and its value is: 78
The minimum value in the given star has a key:'p' and its value is: 45

In [ ]:
#Program to perform operations on string using unicodes ,splitting of
## string,accessing elements of string using locations

In [ ]:
string=input("enter a string: ")
print(string.split())
print(string[2:21])

enter a string: my name is Mounika reddy
['my', 'name', 'is', 'Mounika', 'reddy']
 name is Mounika re

In [ ]:
#Program for Counting occurrence of a certain element in a string,
## getting indexes that have matching elements.

In [ ]:
str_1="mounika"
print(str_1.count('a'))
str_2="mounika loves to eat chicken briyani"
print(str_2.count('to'))

1
1

In [ ]:
#Program for replacing one substring by another For example - Rabbit -
## replace 'bb' by 'cc'

In [ ]:
string1='scrabbled'
string2=string1.replace('bb','cc')
print(string2)

scraccled

In [ ]:
#Python function that accepts a string and calculates the number of
## uppercase letters and lowercase letters.

In [ ]:
string="I Love my friend very much in my life"
count_1=0
count_2=0
for i in string:
 if i.isupper():
    count_1+=1
 elif i.islower():
    count_2+=1
 else:
   pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  2
No.of lowercase alphabets are:  27

In [ ]:
#Program to Acronym generator for any user input

In [ ]:
string=input("enter some string:")
a=string.split()
for i in a:
 print(i[0],end='')

enter some string:mounika reddy
mr

In [ ]:
# Program to count the number of strings where the string length is 2
## or more and the first and last character are same
#from a given list of strings , Sample List : ['abc', 'xyz', 'aba',
## '1221'] Expected Result : 2

In [ ]:
List = ['abc', 'xyz', 'abhitha',
'1221','mounika','24','in','anitha']
count=0
for i in List:
 if len(i)>=2:
   if i[0]==i[len(i)-1]:
    print(i)
 count+=1
print(count)

abhitha
1221
anitha
8