<a href="https://colab.research.google.com/github/Mounika2004/python-new/blob/Module-1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Accept input from user and store it in variable and print the value

In [ ]:
a=90
b=60
c=int(input())
d=int(input())
f=a-(b)-(c)-(d)
print(f)

67
76
-113

In [ ]:
## Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output (same operations on floating point input as well)

In [ ]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
c=a+b
print(c)
c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)

enter the first number64
enter the second number45
109
19
2880
1.4222222222222223

In [ ]:
## printing of five subject marks and grades

In [ ]:
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub5)/5
if(avg>=90):
    print("Grade: A")
elif(avg>=80 and avg<90):
    print("Grade: B")
elif(avg>=70 and avg<80):
    print("Grade: C")
elif(avg>=60 and avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject: 65
Enter marks of the second subject: 45
Enter marks of the third subject: 43
Enter marks of the fourth subject: 78
Enter marks of the fifth subject: 98
Grade: D

In [ ]:
## eeven or odd

In [ ]:
for i in range(4,50,2):
    print(i)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
## odd

In [ ]:
for i in range(3,70,2):
    print(i)

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69